<!DOCTYPE html>
<html>
  <head>
    <title>Movie Review</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="top-wrapper">
      <h1>Movie Review!</h1>
    </div>
    <div>
      <a href="/articles">投稿一覧へ</a>
    </div>


  </body>
</html>
