<!DOCTYPE html>
<html>
  <head>
    <title>Movie Review</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a class="article-link" href="/articles">投稿一覧へ</a>
    <div class="top-wrapper">
      <h1>Movie Review!</h1>
      <img src="images/cat.jpeg" width="300px" height="300px" >
    </div>
    <div>

    </div>


  </body>
</html>
