body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.articles {
  background-color: aquamarine;
  margin: 20px;
  padding: 20px;
  list-style: none;
}

.article-link {
  font-size: 20px;
}

.article-link:hover {
  background-color: yellow;
}

.top-wrapper {
  background-color: mediumspringgreen;
  text-align: center;
  padding: 30px;
  margin-top: 20px;
}

.edit-delete {
  display: flex;
  justify-content: center;
}

.delete-btn {
  margin-left: 20px;
}